# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Parcel
.parcel-cache
/dist

# Production
/build

# Misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode
.idea

# Environment variables
.env
.env.local
